@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* src/styles/RecipeDetails.css */

/* Center the content on the page */
.flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  /* Add more styles as needed */
  